<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wcs.mobilehris">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".application.WcsHrisApps"
        android:allowBackup="true"
        android:icon="@mipmap/ic_hris_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_hris_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.requesttravellist.RequestTravelListActivity"
            android:label="@string/req_travel_hist_activity"/>
        <activity
            android:name=".feature.confirmtask.ConfirmTaskActivity"
            android:label="@string/confirm_task_activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".feature.team.TeamActivity"
            android:label="@string/search_team_activity" />
        <activity
            android:name=".feature.createtask.CreateTaskActivity"
            android:label="@string/create_task_activity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".feature.dtltask.DetailTaskActivity" />
        <activity android:name=".feature.preparation.permission.PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.profile.ProfileActivity" />
        <activity
            android:name=".feature.menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".feature.login.LoginActivity" />
        <activity android:name=".feature.preparation.splash.SplashActivity" />
        <activity
            android:name=".feature.dtlnotification.DetailNotificationActivity"
            android:label="@string/dtl_notification_activity" />
    </application>

</manifest>